#root {
  max-width: 100%;
  text-align: center;
}

.body-app-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.table-preset > td {
  width: 300px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0, 0.7);
  z-index: 1000;
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 150px;
  border-radius: 10px;
}

button {
  cursor: pointer;
}