.loja-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-options {
  cursor: pointer;
  background: none;
  border: none;
}

.btn-option-div {
  display: flex;
  flex-direction: row;
}

button {
  background: none;
  border-style: hidden;
  font-size: 20px;
}