.navigation-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 2px;
  border-bottom: solid;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start ;
  align-content: center;
  width: 50%;
  height: inherit;
}

.header > img {
  max-height: 100%;
  margin: 1%;
}

.header > h1{
  margin: 1%;
}

.navigation-menu ul{
  display: flex;
  margin-right: 2rem;
}

.navigation-menu li {
  list-style-type: none;
}

.navigation-menu li a {
  color: #00bfff;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}
